name: Test Curl
on:
  workflow_dispatch:
env:
  ZEN: zen
  NO_ZEN: ''
jobs:
  success_curl:
    runs-on: ubuntu-latest
    steps:
    - name: Curl working
      run: curl "https://api.github.com/${{ env.ZEN }}/"
  fail_curl:
    runs-on: ubuntu-latest
    steps:
    - name: Curl not working
      run: curl "https://api.github.com/${{ env.NO_ZEN }}/"

