name: Test Curl
on:
  workflow_dispatch:
env:
  HELLO: Hello from the env variable
jobs:
  run_job:
    runs-on: ubuntu-latest
    steps:
      - name: View scirpt context
        uses: actions/github-script@v3
        with:
          script: |
            console.log(env.HELLO)
            console.log(${{ env.HELLO}})
          
      - name: Show workflow env value
        run: echo ${{ env.HELLO }}    
