name: Update PR
on:
  workflow_dispatch:
env:
  PR_NUMBER: ${{ github.event.number }}
  PR_URL: ${{ github.event.pull_request.html_url }}
  GITHUB_TOKEN: ${{ secrets.auto_update }}
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: View scirpt context
        uses: actions/github-script@v3
        with:
          script: console.log(context)
          
      - name: Show workflow github context
        run: echo ${{ toJSON(github) }}
        
      - name: Env variables in workflow context
        run: |
          echo ${{ env.PR_NUMBER }}
          echo ${{ env.PR_URL }}
          echo ${{ env.GITHUB_TOKEN }}
        
      
