name: Test wget
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: tracert http://pngquant.org 
      - run: wget -d http://pngquant.org/pngquant-2.10.1-src.tar.gz
