name: Test Curl
on:
  workflow_dispatch:
env:
  ZEN: zen
jobs:
  run_job:
    runs-on: ubuntu-latest
    steps:

    - name: try CURL inline
      uses: actions/github-script@v6
      with:
        script: |
          console.log("https://api.github.com/${{ env.ZEN }}/")
          curl "https://api.github.com/${{ env.ZEN }}/"
     
     
