name: Test Curl
on:
  workflow_dispatch:
    
jobs:
  autoupdate:
    env:
      PR_URL: ${{ github.event.pull_request.html_url }}
      GITHUB_TOKEN: ${{ secrets.auto_update }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v2
      with:
        repo-token: ${{ secrets.auto_update }}
    - name: Update pull request branch
      run: curl -v -X PUT -H "Accept:application/vnd.github.v3+json" -H "Authorization:token ${{ env.GITHUB_TOKEN }}" "https://github.com/bbq-beets/nicholasbergesen/pull/2"
