name: Test Curl
on:
  workflow_dispatch:
env:
  ZEN: zen
jobs:
  run_job:
    runs-on: ubuntu-latest
    steps:
    - name: try CURL
      uses: actions/github-script@v3
      with:
        script: |
          var url = "https://api.github.com/${{ env.ZEN }}/"
          console.log(url)
          
    - name: try CURL inline
      uses: actions/github-script@v3
      with:
        script: |
          echo "https://api.github.com/${{ env.ZEN }}/"
     
