name: Test Curl
on:
  workflow_dispatch:
env:
  USERS: users
  NO_USERS: ${{ github.not_real }}
jobs:
  do_some_curls:
    runs-on: ubuntu-latest
    steps:
    - name: Complete URL
      run: curl "https://api.github.com/${{ env.USERS }}/nicholasbergesen"
      
    - name: incomplete URL
      run: curl "https://api.github.com/${{ env.NO_USERS }}/nicholasbergesen"
      
    - name: Complete URL in script
      uses: actions/github-script@v3
      with:
        script: |
          curl "https://api.github.com/users/nicholasbergesen"
      
    - name: Incomplete URL in script
      uses: actions/github-script@v3
      with:
        script: |
          curl "https://api.github.com/${{ env.NO_USERS }}/nicholasbergesen"
   

